<nav class="bottom-nav">
  <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
    <i class="bi bi-house-door-fill nav-icon"></i>
    <span>Início</span>
  </a>

  <a routerLink="/idosos" routerLinkActive="active" class="nav-item">
    <i class="bi bi-people-fill nav-icon"></i>
    <span>Idosos</span>
  </a>

  <a routerLink="/alertas" routerLinkActive="active" class="nav-item">
    <i class="bi bi-bell-fill nav-icon"></i>
    <span>Alertas</span>
  </a>

  <a routerLink="/perfil" routerLinkActive="active" class="nav-item">
    <i class="bi bi-person-fill nav-icon"></i>
    <span>Perfil</span>
  </a>
</nav>